{% extends "base.html.twig" %}

{% block title %}Administration des tailles{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Ajouter une pattern</h1>
                {% include "admin/sizes/_form.html.twig" %}
            </div>
        </section>
    </main>
{% endblock %}
